$def with (form, title,msg)

$code:
	id_grid_port="cangrid_port"
	id_logfile="logfile"
	id_loglevel="loglevel"
	id_logappend="logappend"
	id_canid="canid"
        id_create_logfile="create_log_file"
        id_start_event_id="start_event_id"
	id_btn_save="btnSave"
	id_btn_restart="btnRestart"
        id_btn_stop="btnStop"
        id_btn_restart_all="btnRestartAll"
	id_btn_update_file="btnUpdateFile"

<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="expires" content="1" />
<title>$title</title>
 <link rel="stylesheet" type="text/css" href="/static/main.css">
<link href="/static/bootstrap.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
           <img src="/static/merg_logo.png" />      
<div class="container-fluid">
           <header><h3>CANPiServer 1.0 Configuration<br/></h3></header>
           <header><h4>$msg<br/></h4></header>
  <div class="row-fluid">
           <form class="form" method="post"> 
              $:form[id_grid_port].description : 
              $:form[id_grid_port].render()
	      <br>
              $:form[id_canid].description : 
              $:form[id_canid].render()
	      <br>
              $:form[id_start_event_id].description : 
              $:form[id_start_event_id].render()
	      <br>
              Log level : 
              $:form[id_loglevel].render()
              <br>
              $:form[id_create_logfile].description : 
	      $:form[id_create_logfile].render()
	      <br>
              $:form[id_logappend].description : 
	      $:form[id_logappend].render()
	      <hr>
              $:form[id_btn_save].render()
              <br><br>
	      $:form[id_btn_restart].render()              
              <br><br>
	      $:form[id_btn_stop].render()              
              <br><br>
	      $:form[id_btn_restart_all].render()              
              <br><br>
	      $:form[id_btn_update_file].render()
              <hr>
           </form>
  </div>
</div>


</body>
</html>
